<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
		<title><%= [@page_title, Goldberg.settings.site_name].compact.join(" &laquo; ") %></title>
		<meta name="generator" content="feedme <%= FEEDME_VERSION %>" />
		<meta name="keywords" content="feeds,aggregator,planet" />
		<%= stylesheet_link_tag 'feedme' %>
		<%= javascript_include_tag 'jquery', 'application' %>
    <% if defined?(RAILS_ROOT)
         if File.exists?("#{RAILS_ROOT}/public/stylesheets/ajax_scaffold.css") -%>
    <%= stylesheet_link_tag 'ajax_scaffold', :media => 'all' %>
      <% end 
         if File.exists?("#{RAILS_ROOT}/public/javascripts/ajax_scaffold.js") -%>
    <%= javascript_include_tag 'rico_corner', 'ajax_scaffold' %>
      <% end
      end -%>

    <link rel="stylesheet" href="/goldberg/stylesheets/goldberg.css" type="text/css" media="screen" />

	</head>
	
	<body>
		<div id="main_column">
			<div id="header">
      <h1><%= link_to Goldberg.settings.site_name, '/' %></h1>
      <p><%= Goldberg.settings.site_subtitle %></p>
			</div>
			
			<div id="navigation">
				<div class="title">Archives</div>
				<ul>
					<% for day_offset in 0..6 %>
						<li>
							<a href="/<%= (Time.now - day_offset.days).strftime('%Y/%m/%d') %>"><%= (Time.now - day_offset.days).strftime('%B %d, %Y') %></a>
						</li>
					<% end %>
				</ul>
				
				<% if @feeds %>
					<div class="title">Feeds</div>
					<ul>
						<% @feeds.each do |feed| %>
							<li><%= link_to feed.title, feed.url %> (<%= link_to '?', feed_url(feed) %>)</li>
						<% end %>
					</ul>
				<% end %>

        <div class="menu">
          <div class="title">Menu</div>
          <%= goldberg_main_menu %>
          <%= goldberg_left_menu %>
          <%= goldberg_login %>
        </div>  
			</div>
			
			<div id="content">
      <% flash.each do |type, message| %>
      <div class="<%= type %>">
        <%= message %>
      </div>
      <% end %>

			<% if @page_title %>
			  <h2><%= @page_title %></h2>
			<% end %>
				<%= yield %>
			</div>
			
			<div id="footer">
				<%= Goldberg.settings.footer_message %>
			</div>
		</div>
	</body>
</html>